## Create a new cartoframe from a pandas.DataFrame

In [5]:
import pandas as pd
import cartoframes
import numpy as np
import json
APIKEY = json.loads(open('credentials.json').read())['api_key']
USERNAME = json.loads(open('credentials.json').read())['username']

In [6]:
multiplier = 2000
awesome = {'ids': list('abcdefghij') * multiplier,
           'scores': np.random.random(10 * multiplier),
           'lat': 40.7128 + (0.5 - np.random.random(10 * multiplier)),
           'lon': -74.0059 + (0.5 - np.random.random(10 * multiplier))}
df = pd.DataFrame(awesome)
df.head()

  ids        lat        lon    scores
0   a  40.398669 -74.232594  0.646543
1   b  41.174096 -73.757894  0.877553
2   c  40.406401 -74.271609  0.277463
3   d  40.593725 -73.776013  0.691091
4   e  40.743963 -74.321824  0.245809

In [7]:
df.sync_carto(username=USERNAME,
              api_key=APIKEY,
              requested_tablename='awesome_new_table_20000_rows_tsmeeting',
              createtable=True,
              is_org_user=True, 
              latlng_cols=('lat', 'lon'))

New cartoframe created. Table on CARTO is called `awesome_new_table_20000_rowsx`

In [8]:
df.head()

,ids,lat,lon,scores,the_geom
cartodb_id,,,,,
1,a,40.398669,-74.232594,0.646543,0101000020E6100000E57F0054817052C025E31EC84896...
2,b,41.174096,-73.757894,0.877553,0101000020E6100000ED97E808629152C0A23DD5F40434...
3,c,40.406401,-74.271609,0.277463,0101000020E61000009F0C8B30AA7152C039C91A32FF4B...
4,d,40.593725,-73.776013,0.691091,0101000020E6100000A5B669C5989452C0D1B5552D3A5F...
5,e,40.743963,-74.321824,0.245809,0101000020E610000003654450CA7352C0041283D6175F...