## cartoframes demo

Workflow smoketest

1. read table from carto
2. add new column
3. sync with carto
4. drop newly added column
5. sync with carto
6. alter the values in a column
7. sync with carto

In [ ]:
# andye 2c545e0e8a952b62537515cfe31ed31db210cee8
# eschbacher 05a458d3a45d1237699a4ee05297bb92accce3f4

In [1]:
import pandas as pd
import cartoframes
USERNAME = 'eschbacher'
APIKEY = '05a458d3a45d1237699a4ee05297bb92accce3f4'
df = pd.read_carto(username=USERNAME,
                   api_key=APIKEY,
                   tablename='brooklyn_poverty_census_tracts')
df.head(10)

,geoid,high_school_diploma_2011_2015,median_income_2011_2015,poverty_2011_2015,the_geom,the_geom_webmercator,total_pop_2011_2015
cartodb_id,,,,,,,
20,360470610031,0.229163,32144.0,0.264551,0106000020E6100000010000000103000000010000000E...,0103000020110F0000010000000E0000004666302F3668...,3582.087451
3,360470108003,0.169577,45509.0,0.292052,0106000020E61000000100000001030000000100000009...,0103000020110F000001000000090000009188EE63476D...,10080.381952
4,360470110001,0.169577,45509.0,0.292052,0106000020E6100000010000000103000000010000000E...,0103000020110F0000010000000E000000F2591B1A0A6C...,10080.381952
5,360470122001,0.169577,45509.0,0.292052,0106000020E61000000100000001030000000100000007...,0103000020110F00000100000007000000CF96F742936E...,10080.381952
11,360470317022,0.211106,42796.0,0.258617,0106000020E61000000100000001030000000100000009...,0103000020110F000001000000090000009E255B817D67...,21798.755477
17,360470534004,0.223679,45316.0,0.215440,0106000020E6100000010000000103000000010000000B...,0103000020110F0000010000000B0000000F584459C968...,21409.565659
18,360470548002,0.253035,51853.0,0.164311,0106000020E6100000010000000103000000010000000D...,0103000020110F0000010000000D0000005C763C682B67...,11759.118118
19,360470596001,0.253035,51853.0,0.164311,0106000020E61000000100000001030000000100000009...,0103000020110F000001000000090000005E2CE0CB0266...,11759.118118
16,360470534003,0.223679,45316.0,0.215440,0106000020E61000000100000001030000000100000008...,0103000020110F000001000000080000008ECED184AD68...,21409.565659
7,360470169003,0.169577,45509.0,0.292052,0106000020E6100000010000000103000000010000000C...,0103000020110F0000010000000C0000008FF54811C06A...,10080.381952

In [2]:
df['foo'] = 2
df.sync_carto(debug=True)

Create new column foo

        ALTER TABLE "brooklyn_poverty_census_tracts"
        ADD COLUMN "foo" int;

{'rows': [], 'time': 0.007, 'fields': {}, 'total_rows': 0}
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 20;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 3;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 4;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 5;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 11;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 17;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 18;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 19;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 16;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 7;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 6;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 8;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 9;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 10;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 12;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 14;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 15;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 13;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 2;
UPDATE "brooklyn_poverty_census_tracts"
        SET "foo" = 2
        WHERE "cartodb_id" = 1;
Num chars in query: 1890
Sync completed successfully

In [3]:
df_do_numerators = df.read_data_obs('{section/tags.united_states}')
df_do_numerators.head()

,numer_aggregate,numer_description,numer_extra,numer_id,numer_license,numer_name,numer_source,numer_tags,numer_type,numer_weight,valid_denom,valid_geom,valid_timespan
0,median,None,None,us.zillow.Sfr_MedianRentalPricePerSqft,None,Median rental price per square foot for Single...,None,"{'unit/tags.money': 'Money', 'subsection/tags....",Numeric,1,False,False,False
1,average,None,None,us.epa.enviroatlas.avgprecip_meanprecip,None,Average annual precipitation,None,"{'unit/tags.inches': 'Inches', 'section/tags.u...",Numeric,5,False,False,False
2,None,None,None,us.epa.enviroatlas.landcover_pagp,None,Agricultural pasture land cover,None,"{'unit/tags.ratio': 'Ratio', 'section/tags.uni...",Numeric,5,False,False,False
3,None,None,None,us.epa.enviroatlas.landcover_pagt,None,Agricultural/cultivated land cover,None,"{'unit/tags.ratio': 'Ratio', 'section/tags.uni...",Numeric,5,False,False,False
4,None,None,None,us.epa.enviroatlas.landcover_pfor,None,Forest land cover,None,"{'unit/tags.ratio': 'Ratio', 'section/tags.uni...",Numeric,5,False,False,False

In [9]:
del df['chocolate_preference']

In [4]:
df.head()

,geoid,high_school_diploma_2011_2015,median_income_2011_2015,poverty_2011_2015,the_geom,the_geom_webmercator,total_pop_2011_2015,foo
cartodb_id,,,,,,,,
20,360470610031,0.229163,32144.0,0.264551,0106000020E6100000010000000103000000010000000E...,0103000020110F0000010000000E0000004666302F3668...,3582.087451,2
3,360470108003,0.169577,45509.0,0.292052,0106000020E61000000100000001030000000100000009...,0103000020110F000001000000090000009188EE63476D...,10080.381952,2
4,360470110001,0.169577,45509.0,0.292052,0106000020E6100000010000000103000000010000000E...,0103000020110F0000010000000E000000F2591B1A0A6C...,10080.381952,2
5,360470122001,0.169577,45509.0,0.292052,0106000020E61000000100000001030000000100000007...,0103000020110F00000100000007000000CF96F742936E...,10080.381952,2
11,360470317022,0.211106,42796.0,0.258617,0106000020E61000000100000001030000000100000009...,0103000020110F000001000000090000009E255B817D67...,21798.755477,2

In [5]:
df['foo'] = 10
df.sync_carto(debug=True)

1 of 0.6666666666666666
Num chars in batch: 3341
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (20, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 20;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (3, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 3;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (4, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 4;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (5, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 5;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (11, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 11;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (17, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 17;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (18, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 18;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (19, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 19;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (16, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 16;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (7, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 7;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (6, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 6;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (8, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 8;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (9, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 9;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (10, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 10;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (12, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 12;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (14, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 14;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (15, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 15;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (13, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 13;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (2, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 2;
INSERT INTO "brooklyn_poverty_census_tracts"("cartodb_id", "foo") VALUES (1, 10) ON CONFLICT ("cartodb_id") DO UPDATE SET "foo" = 10 WHERE EXCLUDED."cartodb_id" = 1;
{'rows': [], 'time': 8.02, 'fields': {}, 'total_rows': 1}
Sync completed successfully

In [6]:
df.carto_map(stylecol='median_income_2011_2015')

In [12]:
df['chocolate_likes'] = 10 - df['likes_jellybeans']

In [13]:
df.head()

,admin1,city,country,likes_jellybeans,name,the_geom,the_geom_webmercator,chocolate_likes
cartodb_id,,,,,,,,
1,Missouri,Kansas City,United States,6.247984,Andy,0101000020E6100000CEC3094CA7A257C0BB7F2C448786...,0101000020110F000090128469D21264C17559CEFC240A...,3.752016
2,California,Livermore,United States,5.530420,Mamata,0101000020E6100000BD6DA6423C725EC074B515FBCBD6...,0101000020110F0000C8EC7A85A5DB69C147BB58DAC84B...,4.469580
5,Massassachusetts,Boston,United States,4.228290,Michelle,0101000020E6100000821ABE8575C251C003ECA353572C...,0101000020110F000042B8CE449E2A5EC16AEED633D5E2...,5.771710
6,Gujarat,Vadodara,India,9.667853,Mehak,0101000020E6100000C39CA04D0E4C5240BAF42F49654E...,0101000020110F000030AE841A57145F41F253E60B3671...,0.332147
3,Scotland,Edinburgh,United Kingdom,8.042204,Stuart,0101000020E6100000AF5C6F9BA9F009C088F6B182DFF8...,0101000020110F0000BFCE92B1EA0716C113C119E172CA...,1.957796

In [14]:
df.sync_carto(debug=True)

Create new column chocolate_likes

        ALTER TABLE "research_team"
        ADD COLUMN "chocolate_likes" numeric;

{'rows': [], 'time': 0.387, 'fields': {}, 'total_rows': 0}
(1, 3.7520161736756599)
(2, 4.4695795979350796)
(5, 5.7717096433043498)
(6, 0.33214748837053953)
(3, 1.9577955408021808)
(4, 9.5800000000000001)
UPDATE "research_team"
        SET "chocolate_likes" = 3.75201617368
        WHERE "cartodb_id" = 1;
UPDATE "research_team"
        SET "chocolate_likes" = 4.46957959794
        WHERE "cartodb_id" = 2;
UPDATE "research_team"
        SET "chocolate_likes" = 5.7717096433
        WHERE "cartodb_id" = 5;
UPDATE "research_team"
        SET "chocolate_likes" = 0.332147488371
        WHERE "cartodb_id" = 6;
UPDATE "research_team"
        SET "chocolate_likes" = 1.9577955408
        WHERE "cartodb_id" = 3;
UPDATE "research_team"
        SET "chocolate_likes" = 9.58
        WHERE "cartodb_id" = 4;
Num chars in query: 595
Sync completed successfully

In [17]:
df['foo'] = 2
df.sync_carto(debug=True)

Create new column foo

        ALTER TABLE "research_team"
        ADD COLUMN "foo" int;

{'rows': [], 'time': 0.007, 'fields': {}, 'total_rows': 0}
(1, 2)
(2, 2)
(5, 2)
(6, 2)
(3, 2)
(4, 2)
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 1;
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 2;
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 5;
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 6;
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 3;
UPDATE "research_team"
        SET "foo" = 2
        WHERE "cartodb_id" = 4;
Num chars in query: 461
Sync completed successfully

In [16]:
df['chocolate_likes'] = 5
df.sync_carto(debug=True)

1 of 0.2
Num chars in batch: 1025
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (1, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 1;
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (2, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 2;
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (5, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 5;
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (6, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 6;
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (3, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 3;
INSERT INTO "research_team"("cartodb_id", "chocolate_likes") VALUES (4, 5) ON CONFLICT ("cartodb_id") DO UPDATE SET "chocolate_likes" = 5 WHERE EXCLUDED."cartodb_id" = 4;
{'rows': [], 'time': 1.709, 'fields': {}, 'total_rows': 1}
Sync completed successfully

In [7]:
df['poverty_per_pop'] = df['poverty_count'] / df['total_population']
df.sync_carto(n_batch=40, debug=True)

Create new column poverty_per_pop

        ALTER TABLE "brooklyn_poverty_census_tracts"
        ADD COLUMN "poverty_per_pop" numeric;

BadRequestException: ['column "poverty_per_pop" of relation "brooklyn_poverty_census_tracts" already exists']

In [ ]:
# sync back up with carto
# check to see if it tells you that you haven't done anything yet
df.sync_carto()

In [ ]:
import numpy as np
col = 'likes_jellybeans'
max_jellies = (1.0 / df[col]).max()
min_jellies = (1.0 / df[col]).min()
df['chocolate_preference'] = (1./df[col] + np.random.random() - min_jellies) / (max_jellies - min_jellies)
df['chocolate_preference'] = 10.0 * df['chocolate_preference'] / df['chocolate_preference'].max()

In [ ]:
df.head(6)

In [ ]:
# Test add column
df.sync_carto(n_batch=20, debug=True)

In [6]:
df.carto_map(interactive=True, stylecol='poverty_per_pop')

In [ ]:
del df['chocolate_preference']

In [ ]:
df.head()

In [ ]:
df.sync_carto(debug=True)

In [ ]:
df.sync_carto(n_batch=7, debug=True)

In [ ]:
df.carto_map(interactive=True, stylecol='')

## Examples

### drop unneeded columns

`cartoframes` works best with inplace operations, so use them whenever possible. Operations which give a new dataframe unfortunately do not carry over the cartoframe attributes like the CARTO SQL Auth Client, so that has to be reset.

```python
df.drop(['eobs_start_timestamp', 'eobs_battery_voltage', 'tag_local_identifier', 'individual_taxon_canonical_name', 'event_id', 'eobs_status', 'eobs_used_time_to_get_fix', 'lat', 'eobs_type_of_fix', 'sensor_type', 'eobs_fix_battery_voltage', 'eobs_horizontal_accuracy_estimate', 'eobs_key_bin_checksum', 'eobs_speed_accuracy_estimate', 'individual_local_identifier'], axis=1, inplace=True)
df.head()
```

### Setting the sql auth client from another df

```python
new_df.set_carto_sql_client(old_df.carto_sql_client)
```

In [4]:
import sys, time
from __future__ import print_function
try:
    from IPython.core.display import clear_output
    have_ipython = True
except ImportError:
    have_ipython = False

class ProgressBar:
    def __init__(self, iterations):
        self.iterations = iterations
        self.prog_bar = '[]'
        self.fill_char = '*'
        self.width = 40
        self.__update_amount(0)
        if have_ipython:
            self.animate = self.animate_ipython
        else:
            self.animate = self.animate_noipython

    def animate_ipython(self, iter):
        try:
            clear_output()
        except Exception:
            # terminal IPython has no clear_output
            pass
        print('\r', self, end='')
        sys.stdout.flush()
        self.update_iteration(iter + 1)

    def update_iteration(self, elapsed_iter):
        self.__update_amount((elapsed_iter / float(self.iterations)) * 100.0)
        self.prog_bar += '  %d of %s complete' % (elapsed_iter, self.iterations)

    def __update_amount(self, new_amount):
        percent_done = int(round((new_amount / 100.0) * 100.0))
        all_full = self.width - 2
        num_hashes = int(round((percent_done / 100.0) * all_full))
        self.prog_bar = '[' + self.fill_char * num_hashes + ' ' * (all_full - num_hashes) + ']'
        pct_place = (len(self.prog_bar) // 2) - len(str(percent_done))
        pct_string = '%d%%' % percent_done
        self.prog_bar = self.prog_bar[0:pct_place] + \
            (pct_string + self.prog_bar[pct_place + len(pct_string):])

    def __str__(self):
        return str(self.prog_bar)

In [5]:
p = ProgressBar(80)
for i in range(80):
    p.animate(i)
    time.sleep(0.1)

 [*****************99%******************]  79 of 80 complete